body{







}



#leftbox {
    display: block;
    position: relative;



    clear:left;
}
.flyer {

    display: block;
    float:right;


}
 p{
    padding:10px;
    margin:10px;
    margin-right:700px;
    margin-left:100px;
    font-size:18;
}
#head1 {
    position: relative;
    display: block;
    text-align: center;






    height: 75px;



}
footer {
    position: relative;
    clear: both;
    float: inherit;
}
 h1 {

    position: relative;
    height:55px;
    margin-top: 20px;
    margin-bottom: 20px;



}
* {


}
