body{



    background-color:black;



}



#leftbox {
    display: block;
    position: relative;


    
    clear:left;
}
#flyer {

    display: block;
    position:relative;
    clear: left;
    float: right;
    border: 2px solid #e93ac8;
}
#head1 {
    position: relative;
    display: block;
    text-align: center;




    background-color: #5c8686;

    height: 75px;



}
footer {
    position: relative;
    clear: both;
    float: inherit;
}
 h1 {
    color:green;
    position: relative;
    height:55px;
    margin-top: 20px;



}
* {
    border: 2px dashed blue;
    margin: 0;
}
